pkgbase = heft
	pkgdesc = Read-only Linux TUI for application-weight process accounting
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/Rethunk-Tech/heft
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !strip
	options = !debug
	source = heft-0.10.0.tar.gz::https://github.com/Rethunk-Tech/heft/archive/refs/tags/v0.10.0.tar.gz
	sha256sums = 435efecdb60e9574d77bbe815d72ea4135db8c724e7d7fe9aee178d7530e34d3

pkgname = heft
