pkgbase = heft
	pkgdesc = Read-only Linux TUI for application-weight process accounting
	pkgver = 0.10.1
	pkgrel = 1
	url = https://github.com/Rethunk-Tech/heft
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	options = !strip
	options = !debug
	source = heft-0.10.1.tar.gz::https://github.com/Rethunk-Tech/heft/archive/refs/tags/v0.10.1.tar.gz
	sha256sums = 3f2399318d40edae63a9c7b4c36ad564dbc4a6d98630648688dade595f0cb4dd

pkgname = heft
